.mainContainerProducts{
    max-width: 100vw;
    height: 800px;
    background-image: url('../../assets/bannerProductosBg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}

.productsTitle{
    text-align: center;
    padding-top: 150px;
    padding-right: 220px;
    color: white;
}

.showProducts{
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.541);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 12px;
    max-width: 60vw;
    width: 60vw;
    margin-left: 520px;
    margin-top: -25px;
}

.mainContainerProducts h2{
    text-align: left;
    padding-left: 10px;
}

.mainContainerProducts p{
    text-align: left;
    font-size:15px;
    margin-top: -10px;
}

.productCardImg{
    max-width: 250px;
    width: 250px;
}

@media (max-width: 480px) {
    .mainContainerProducts{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    }

    .productsTitle{
    text-align: center;
    padding-right: 100px;
    }

    .showProducts {
        flex-direction: row;
        overflow-x: auto;
        gap: 16px;
        padding-bottom: 16px;
        max-width: 95vw;
        width: 95vw;
        margin-left: 0px;
        /* Oculta el scroll si quieres */
        scrollbar-width: none; /* Firefox */
    }
    .showProducts::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }
    .MuiCard-root {
        max-width: 65vw;
        width: 65vw;
        flex: 0 0 auto;
        min-width: 200px;
        flex: 0 0 auto;
        margin: 0 8px;
    }

    .MuiCard-root img {
    max-width: 100%;
    height: auto;
    }

    .showProducts{
    display: flex;
    justify-content: center;
    max-width: 85vw;
    width: 85vw;
    margin-left: 0px;
}
}

@media (min-width: 481px) and (max-width: 1024px) {

}