.mainCont{
    margin-top: 50px;
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.mainCont .mainH1{
    font-weight: bold;
}

.gridContent{
    display: flex;
}

.gridContent p{
    text-align: left;
}

.brandContentContainerA{
    background-image: url('../../assets/fondoA.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.brandContentContainerB{
    background-image: url('../../assets/fondoB.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.brandContentContainerC{
    background-image: url('../../assets/fondoC.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 480px) {
    .mainCont{
        max-width: 480px;
        margin-top: -290px;
    }

    .mainCont .mainH1{
    margin-left: 0px;
    text-align: center;
    font-size: 40px;
    }

    .gridContent{
    flex-direction: column;
}
}

@media (min-width: 481px) and (max-width: 1024px) {
    
}