.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: 80px;
    max-width: 100vw;
    animation: infinite-scroll 40s linear infinite;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 50px));
  }
}