 .headerContainer{
        height: 770px;
        max-width: 100vw;
        background-image: url("../../assets/bannerHeader.jpg" );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

@media (max-width: 480px) {
    .headerContainer{
        height: 550px;
        max-width: 480px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
}