.container{
    margin-top: 0;
    margin-bottom: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    color: white;
} 

.bloqueA{
    width: 700px;
    height: 750px;
    background-image: url('../../assets/catalogoEquipamiento.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 90% center;
    text-align: left;
    padding-left: 30px;
    border-radius: 10px;
    /* pseudo_element */
    position: relative;
    overflow: hidden; 
}
/* pseudo_element bloqueA */
.bloqueA::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.438);
    z-index: 1;
    pointer-events: none;
}
.bloqueA > * {
    position: relative;
    z-index: 2;
}
/* pseudo_element bloqueA */

.bloqueB{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bloqueA p, .bloqueB p{
    margin-top: -40px;
}

.bloqueB .bloqueB-1{
    width: 700px;
    height: 360px;
    background-image: url('../../assets/catalogoCarros.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center 20%;
    text-align: right;
    padding-right: 30px;
    border-radius: 10px;
    /* pseudo_element */
    position: relative;
    overflow: hidden; 
}
/* pseudo_element bloqueB1 */
.bloqueB-1::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.438);
    z-index: 1;
    pointer-events: none;
}
.bloqueB-1 > * {
    position: relative;
    z-index: 2;
}
/* pseudo_element bloqueB1 */

.bloqueB .bloqueB-2{
    width: 700px;
    height: 360px;
    background-image: url('../../assets/catalogoAccesoriosCamionetas.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    text-align: right;
    padding-right: 30px;
    border-radius: 10px;
    /* pseudo_element */
    position: relative;
    overflow: hidden; 
}
/* pseudo_element bloqueB2 */
.bloqueB-2::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.438);
    z-index: 1;
    pointer-events: none;
}
.bloqueB-2 > * {
    position: relative;
    z-index: 2;
}
/* pseudo_element bloqueB2 */

.bloqueA,.bloqueB div{
    border: none;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.49);
}

@media (max-width: 480px) {
    .container {
        max-width: 480px;
        flex-direction: column;
        align-items: center;
        margin: 350px 0 650px 0;
    }

    .bloqueA, .bloqueB .bloqueB-2, .bloqueB .bloqueB-1{
        width: 350px;
    }

    .bloqueA{
        min-height: 360px;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
}