.bannerTst1{
    max-width: 100%;
    width: 100%;
}

@media (max-width: 480px) {
  .bannerTst1{
    max-width: 480px;
    height: 150px;
}
}

@media (min-width: 481px) and (max-width: 1024px) {
   .bannerTst1{
    max-width: 1024px;
    width: 100%;
}
}